.jumbo-image {
    height: 100vh;
    background-image: url('../Asset/images/landing\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.transparent {
    background: rgba(0, 0, 0, 0.1);
}

.half-screen {
    height: 60vh;
}

#btn_shopnow:hover {
    cursor: pointer;
    transform: translate(0, 10px);
    transition: 0.2s;
    color: rgba(170, 217, 226, 0.715);
}

.card:hover{
    cursor: pointer;
    box-shadow: 15px 35px 10px rgb(160, 174, 186);
    transform: translate(0px,-15px);
    transition: 0.2s;
}


.footer {

    height: 60px;
    line-height: 60px;
}

.bungkus {
    display: flex;
    align-items: center;
    height: 348px;
    width: 100%;
    background-color: lightgray;
}

.bungkus img {
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
}

.fotoproduk {
    max-height: 448px;
}

.bungkusfoto {
    background-color: lightgray;
}
